body{
  font-family: 'Raleway', sans-serif;
}

html, body {
  height: 100%;
}

.active{
  color: #132130;
}

.topSpace{
  margin-top: 5%;
}

.large{
  font-size: 5rem;
  color: #132130;
}

.navbar{
  position: fixed;
  top: 0px;
  background-color: white;
  width: 100%;
  z-index: 1000;
}

.bg{
  background-image: url(../images/hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron{
  background-color: transparent;
  padding: 4rem 2rem;
  color: white;
}
.display-4, .lead{
  text-align: right;
}

.full-height{
  height: 100%;
}

.chevron{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10px;
  margin: 0 auto;
}

.chevron a{
  color: black;
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

.card{
  margin: 4rem auto;
      border: 0px;
}

.btn-info{
  background-color: #132130;
  border-color: #132130;
}

.btn-info:hover{
  background-color: #9678AC;
}

/*carousel*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 420px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 75%;
  margin: 0 auto;
  padding-top: 5%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.prev:hover a{
  color: white;
}
.next:hover a{
  color: white;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activeSlide, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.mySlides img{
  width: 100px;
  height: 100px;
  margin-bottom: 5%;
}

.prev, .next, a:hover{
  color: white;
  text-decoration: none;
}

.prev, .next, a{
  color: black;
}

/*end carousel*/

/*about page*/

.card{
  width: 90%;
  margin: 0 auto;
}


footer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5%;
  min-height: 5rem;
  color: white;
  background-color: #132130;
  width:100%;
  margin: 0 auto;
  text-align: center;
  padding: 4rem;
}

footer ul li{
  float: left;
  list-style: none;
  margin-right: 1em;
}

footer ul{
  padding-inline-start: 0px;
}

.fab, .fas{
  color: white;
}

.fa-chevron-down{
  color: #132130;
}

@media only screen and (min-width: 768px) {
  .bg{
    background-image: url(../images/hero-tablet.png);
  }
}

@media only screen and (min-width: 1024px) {
  .display-4, .lead{
    text-align: left;
  }

  .bg{
    background-image: url(../images/hero-desktop.jpg);
  }

  .jumbotron{
    padding: 8rem 2rem;
  }
  .card{
    width: 90%;
    min-height: 470px;
    max-width: 70%;
  }

  .card-body{
  }

  .left{
    display: inline-block;
  }
  .right{
    float: right;
  }
}
